<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>SLiPP Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<th:block th:replace="layout/header"></th:block>
<th:block th:replace="layout/subnav"></th:block>
<div class="container" id="main">
    <th:block th:insert="~{::content}"></th:block>
</div>
<th:block th:replace="layout/footer"></th:block>
</body>
</html>