<!DOCTYPE html>
	<head>
		<title>SLiPP Java Web Programming</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
	</head>
	<body>

    <!-- 헤더 포함 -->
    <th:block th:replace="~{layout/header :: header}"></th:block>

    <!-- 서브 네비게이션 포함 -->
    <th:block th:replace="~{layout/subnav :: subnav}"></th:block>


    <div class="container" id="main">
        <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
            <div class="panel panel-default qna-list">
                <ul class="list">


                    <!-- ✅ 2. 사용자가 작성한 게시글 (Thymeleaf 동적 데이터) -->
                    <li th:each="board : ${boards}">
                        <div class="wrap">
                            <div class="main">
                                <strong class="subject">
                                    <a th:href="@{/boards/{id}(id=${board.boardId})}" th:text="${board.title}"></a>
                                </strong>
                                <div class="auth-info">
<!--                                    <i class="icon-add-comment"></i>-->
<!--                                    <span class="time" th:text="${board.createdDate}"></span>-->
                                    <span class="author" th:text="${board.writer.name}"></span>
<!--                                </div>-->
<!--                                <div class="reply" title="댓글">-->
<!--                                    <i class="icon-reply"></i>-->
<!--                                    <span class="point" th:text="${board.commentCount}"></span>-->
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                        <ul class="pagination center-block" style="display:inline-block;">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 qna-write text-right">
                        <a th:href="@{/boards/new}" class="btn btn-primary" role="button">질문하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- script references -->
    <th:block th:replace="~{layout/footer :: footer}"></th:block>
</body>
</html>
