<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤더 사용 -->
<head th:replace="~{fragments :: head('질문하기')}"></head>

<body>
<!-- 공통 상단 내비게이션 바 사용 -->
<nav th:replace="~{fragments :: navbar}"></nav>

<!-- 공통 서브 내비게이션 바 사용 -->
<div th:replace="~{fragments :: subnav}"></div>

<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default content-main">
            <form name="question" method="post" action="/articles" th:action="@{/articles}">
                <div class="form-group">
                    <label for="writerId">글쓴이</label>
                    <input class="form-control" id="writerId" name="writerId" placeholder="글쓴이"/>
                </div>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="제목"/>
                </div>
                <div class="form-group">
                    <label for="contents">내용</label>
                    <textarea name="contents" id="contents" rows="5" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-success clearfix pull-right">질문하기</button>
                <div class="clearfix" />
            </form>
        </div>
    </div>
</div>

<!-- 공통 스크립트 사용 -->
<div th:replace="~{fragments :: scripts}"></div>
</body>
</html>
