<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
<h1>Articles</h1>

<!-- 질문 목록 -->
<div>
    <ul>
        <li th:each="article : ${articles}">
            <a th:href="@{/qna/articles/{index}(index=${article.id})}" th:text="${article.title}"></a>
        </li>
    </ul>
</div>

<!-- 질문 상세보기 -->
<div th:if="${article != null}">
    <h2 th:text="${article.title}"></h2>
    <p th:text="${article.content}"></p>
</div>

<a href="/qna/form">Write a new article</a>
</body>
</html>
